[Unit]
Description=PaimenOS grafische Sitzung
Wants=paimenos-menu.service paimenos-timer.service paimenos-media.service paimenos-cursor.service paimenos-osd.service
